In [ ]:
#Universidade Federal de Pernambuco
#Disciplina: Introdução a Microssimulação
#Professor: Jose Ricardo Nogueira
#Aluno: Paulo Francisco da Silva Junior

In [ ]:
#Importando biblioteca
import pandas as pd

Calculo da renda individual e domiciliar com base nas regras legais de 2019

In [ ]:
#Caso queira substituir

#Organizando dataframe
pnad["UF"]=pnad["UF"].replace({
    11:"Rondônia",
    12:"Acre",
    13:"Amazonas",
    14:"Roraima",
    15:"Pará",
    16:"Amapá",
    17:"Tocantins",
    21:"Maranhão",
    22:"Piauí",
    23:"Ceará",
    24:"Rio Grande do Norte",
    25:"Paraíba",
    26:"Pernambuco",
    27:"Alagoas",
    28:"Sergipe",
    29:"Bahia",
    31:"Minas Gerais",
    32:"Espírito Santo",
    33:"Rio de Janeiro",
    35:"São Paulo",
    41:"Paraná",
    42:"Santa Catarina",
    43:"Rio Grande do Sul",
    50:"Mato Grosso do Sul",
    51:"Mato Grosso",
    52:"Goiás",
    53:"Distrito Federal"})

pnad["V1022"]=pnad["V1022"].replace({1:"Urbana",2:"Rural"})

pnad["V2007"]=pnad["V2007"].replace({1:"Homem",2:"Mulher"})

pnad["V3002"]=pnad["V3002"].replace({1:"Sim", 2:"Não"})
pnad["V3002A"]=pnad["V3002A"].replace({1:"Rede privada", 2:"Rede pública"})

pnad["V3003A"]=pnad["V3003A"].replace({
2:"Pré-escola",
3:"Alfabetização de jovens e adultos",
4:"Regular do ensino fundamental ",
5:"Educação de jovens e adultos (EJA) do ensino fundamental",
6:"Regular do ensino médio ",
7:"Educação de jovens e adultos (EJA) do ensino médio",
8:"Superior - graduação",
9:"Especialização de nível superior",
10:"Mestrado",
11:"Doutorado"
})

pnad["V3009A"]=pnad["V3009A"].replace({
2:"Pré-escola",
3:"Classe de alfabetização - CA",
4:"Alfabetização de jovens e adultos",
5:"Antigo primário (elementar)",
6:"Antigo ginásio (médio 1º ciclo)",
7:"Regular do ensino fundamental ou do 1º grau",
8:"Educação de jovens e adultos (EJA) ou supletivo do 1º grau",
9:"Antigo científico, clássico, etc. (médio 2º ciclo)",
10:"Regular do ensino médio ou do 2º grau",
11:"Educação de jovens e adultos (EJA) ou supletivo do 2º grau",
12:"Superior - graduação",
13:"Especialização de nível superior",
14:"Mestrado",
15:"Doutorado"
})

pnad["V3014"]=pnad["V3014"].replace({
1:"Sim",
2:"Não "
})

pnad["V4009"]=pnad["V4009"].replace({
1:"Um ",
2:"Dois",
3:"Três ou mais",
})

pnad["V4012"]=pnad["V4012"].replace({
1:"Trabalhador doméstico",
2:"Militar do exército, da marinha, da aeronáutica, da polícia militar ou do corpo de bombeiros militar",
3:"Empregado do setor privado",
4:"Empregado do setor público (inclusive empresas de economia mista)",
5:"Empregador",
6:"Conta própria",
7:"Trabalhador familiar não remunerado"
})

pnad["V4014"]=pnad["V4014"].replace({
1:"Federal",
2:"Estadual",
3:"Municipal"
})

pnad["V4028"]=pnad["V4028"].replace({
1:"Sim",
2:"Não"})

pnad["V4032"]=pnad["V4032"].replace({
1:"Sim",
2:"Não"})

pnad["V4043"]=pnad["V4043"].replace({
1:"Trabalhador doméstico",
2:"Militar do exército, da marinha, da aeronáutica, da polícia militar ou do corpo de bombeiros militar",
3:"Empregado do setor privado",
4:"Empregado do setor público (inclusive empresas de economia mista)",
5:"Empregador",
6:"Conta própria",
7:"Trabalhador não remunerado em ajuda a membro do domicílio ou parente"})

pnad["V4045"]=pnad["V4045"].replace({
1:"Federal",
2:"Estadual",
3:"Municipal"
})

pnad["V4047"]=pnad["V4047"].replace({
1:"Sim",
2:"Não"
})

pnad["V4048"]=pnad["V4048"].replace({
1:"Sim",
2:"Não"
})

pnad["V4049"]=pnad["V4049"].replace({
1:"Sim",
2:"Não"
})

pnad["V4057"]=pnad["V4057"].replace({
1:"Sim",
2:"Não"
})

pnad["V4076"]=pnad["V4076"].replace({
1:"Menos de 1 mês ",
2:"De 1 mês a menos de 1 ano",
3:"De 1 ano a menos de 2 anos",
4:"2 anos ou mais"
})

pnad["VD4002"]=pnad["VD4002"].replace({
1:"Pessoas ocupadas",
2:"Pessoas desocupadas"
})

pnad["VD4009"]=pnad["VD4009"].replace({
1:"Empregado no setor privado com carteira de trabalho assinada",
2:"Empregado no setor privado sem carteira de trabalho assinada",
3:"Trabalhador doméstico com carteira de trabalho assinada",
4:"Trabalhador doméstico sem carteira de trabalho assinada",
5:"Empregado no setor público com carteira de trabalho assinada",
6:"Empregado no setor público sem carteira de trabalho assinada",
7:"Militar e servidor estatutário",
8:"Empregador",
9:"Conta-própria",
10:"Trabalhador familiar auxiliar"})

In [ ]:
#Importando banco
pnad=pd.read_csv("/content/drive/MyDrive/Microsimulação/Listas/PNADC_2019_visita 5.csv",sep=";",decimal=",",na_values=" ",dtype=float)

In [ ]:
#Alterando missings (na) para 0
pnad.fillna(0,inplace=True)

In [ ]:
#Criando Chave para Domicílio
pnad["Chave_D"]=pnad["UPA"].asType(str)+pnad["V1008"].asType(str)+pnad["V1014"].asType(str)

#Criando Chave para Indivíduo
pnad["Chave_I"]=pnad["UPA"].asType(str)+pnad["V1008"].asType(str)+pnad["V1014"].asType(str)+pnad["V2003"].asType(str)

In [ ]:
#AJUSTANDO AS RENDAS
#Salário Mínimo(2019)= 998,00
pnad.loc[pnad["V5004A2"]<998,"V5004A2"] = 998
pnad.loc[pnad["V403312"]<998 & (("VD4009"==1) | ("VD4009"==3) | ("VD4009"==5) | ("VD4009"==7)),"V403312"]=998
pnad.loc[pnad["V405012"]<998 & (("V4043"==1) & ("V4048"==1)) \
         | ("V4043"==2) \
         | (("V4043"==3) & ("V4048"==1)) \
         | (("V4043"==4) & (("V4047"==1) \
         | ("V4048"==1))),"V405012"]=998

In [ ]:
#RENDAS DIVERSAS (EXCLUSIVE RENDA MENSAL EM PRODUTOS E MERCADORIAS)
pnad["RDIV"] = pnad["VD4047"]-pnad["V5001A2"]-pnad["V5002A2"]-pnad["V5003A2"]

In [ ]:
#RENDA INDIVIDUAL (EXCLUSIVE RENDA MENSAL EM PRODUTOS E MERCADORIAS)
pnad["RI"] = pnad["V403312"]+\
             pnad["V405012"]+\
             pnad["V405812"]+\
             pnad["V5001A2"]+\
             pnad["V5002A2"]+\
             pnad["V5003A2"]+\
             pnad["V5004A2"]+\
             pnad["V5006A2"]+\
             pnad["V5007A2"]+\
             pnad["VD4047"]

In [ ]:
#Realocando Quantidade de pessoas escolhidas do dimicilio
pnad.loc[pnad["V2005"]>=17,"V2005_B"]=0
pnad.loc[pnad["V2005"]<17,"V2005_B"]=1

In [ ]:
#Juntando e renomeando tabelas
pnad=pnad.join(pnad.groupby('CHAVE.D')["RI","V2005_B"].sum(), on='CHAVE.D',rsuffix="_post")
pnad.rename(columns={"RI_post":"RD", "V2005_B_post":"NUM_DOM"},inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [ ]:
#Printando todas as pessoas do domicilio e sua renda
pnad[["CHAVE.D","RI","RD","NUM_DOM"]]

              CHAVE.D     RI     RD  NUM_DOM
0       1100000340107    998   4974      3.0
1       1100000340107   2978   4974      3.0
2       1100000340107    998   4974      3.0
3       1100000340207   2498   7496      2.0
4       1100000340207   4998   7496      2.0
...               ...    ...    ...      ...
433530  5300501501207  10998  10998      1.0
433531  5300501501307   7998   7998      1.0
433532  5300501501407  26998  53994      3.0
433533  5300501501407  25998  53994      3.0
433534  5300501501407    998  53994      3.0

[433535 rows x 4 columns]

In [ ]:
#Printando apenas o responsavel do domicilio
pnad.drop(pnad.loc[(pnad["V2005"]!=1)].index)[["CHAVE.D","RI","RD","NUM_DOM"]]

              CHAVE.D     RI     RD  NUM_DOM
0       1100000340107    998   4974      3.0
3       1100000340207   2498   7496      2.0
5       1100000340407   8198   8198      1.0
6       1100000340507  17000  19994      4.0
10      1100000340707   4998   4998      1.0
...               ...    ...    ...      ...
433524  5300501501007  37998  44992      4.0
433528  5300501501107   6998  10496      2.0
433530  5300501501207  10998  10998      1.0
433531  5300501501307   7998   7998      1.0
433532  5300501501407  26998  53994      3.0

[147861 rows x 4 columns]