In [ ]:
#Universidade Federal de Pernambuco
#Disciplina: Introdução a Microssimulação
#Professor: Jose Ricardo Nogueira
#Aluno: Paulo Francisco da Silva Junior

In [ ]:
#Importacoes
import pandas as pd

Calculo do salário familia com base nas regras legais de 2019

In [ ]:
#importando banco
pnadc = pd.read_csv("/content/drive/MyDrive/Microsimulação/PNADC_2019_visita 5 (CSV).csv",sep=";",decimal=",",na_values=" ",dtype=float)

In [ ]:
#SALARIO FAMILIA (TRABALHO PRINCIPAL)

In [ ]:
#Selecionando menores de 14 anos que sejam 'Filho(a) do responsável e do cônjuge', ou, 'Filho(a) somente do responsável', ou, Enteado(a) - elegiveis
pnadc.loc[(pnadc["V2009"]<=14) & ((pnadc["V2005"]==4) | (pnadc["V2005"]==5) | (pnadc["V2005"]==6)),"V2005_14"]=1

In [ ]:
#Agregando variavel no banco de dados
pnadc=pnadc.join(pnadc.groupby("CHAVE.D")["V2005_14"].sum(),on="CHAVE.D",rsuffix="_bin")
pnadc.rename(columns={"V2005_14_bin":"FILHO14"},inplace=True)

In [ ]:
#Filtrando e obtendo salário familia - 2 faixa
pnadc.loc[((pnadc["V4012"]==1) | (pnadc["V4012"]==3)) & (pnadc["V4029"]==1) & \
          (((pnadc["V403312"] - (pnadc["FILHO14"] * 32.80) )>= 907.78) & \
           ((pnadc["V403312"] - (pnadc["FILHO14"] * 32.80))<=1364.43)),"SALFAM1"] \
          = pnadc["FILHO14"] * 32.80

In [ ]:
#Filtrando e obtendo salário familia - 1 faixa
pnadc.loc[((pnadc["V4012"]==1) | (pnadc["V4012"]==3)) & (pnadc["V4029"]==1)  & \
          ((pnadc["V403312"] - (pnadc["FILHO14"] * 46.54))<=907.77),"SALFAM1"]\
           = pnadc["FILHO14"] * 46.54

In [ ]:
#Ajustando salário familia apenas para responsáveis
pnadc.loc[(pnadc["V2005"]>=4) & (pnadc["V2005"]<=19),"SALFAM1"]=0

In [ ]:
#SALARIO FAMILIA (TRABALHO SECUNDARIO)

In [ ]:
#Filtrando e obtendo salário familia - 2 faixa
pnadc.loc[((pnadc["V4043"])==1 | (pnadc["V4043"]==3)) & (pnadc["V4048"]==1)  & \
          (((pnadc["V405012"] - (pnadc["FILHO14"] * 32.80))>=907.78) &
           ((pnadc["V405012"] - (pnadc["FILHO14"] * 32.80))<=1364.43)),"SALFAM2"]\
          = pnadc["FILHO14"] * 32.80

In [ ]:
#Filtrando e obtendo salário familia - 1 faixa
pnadc.loc[((pnadc["V4043"]==1) | (pnadc["V4043"]==3)) & (pnadc["V4048"]==1)  & \
          ((pnadc["V405012"] - (pnadc["FILHO14"] * 46.54))<=907.77),"SALFAM2"]\
          =pnadc["FILHO14"] * 46.54

In [ ]:
#Ajustando salário familia apenas para responsáveis
pnadc.loc[(pnadc["V2005"]>=4) & (pnadc["V2005"]<=19),"SALFAM2"]=0

In [ ]:
#SALARIO FAMILIA (APOSENTADOS)

In [ ]:
#Filtrando e obtendo salário familia - 2 faixa - Homens
pnadc.loc[(pnadc["V5004A2"]>0) & (pnadc["V2009"]>=65) & (pnadc["V2007"]== 1) & \
          (((pnadc["V5004A2"] - (pnadc["FILHO14"] * 32.80))>=907.78) & \
          ((pnadc["V5004A2"] - (pnadc["FILHO14"] * 32.80))<=1364.43)),"SALFAM3"] \
          =pnadc["FILHO14"] * 32.80

In [ ]:
#Filtrando e obtendo salário familia - 1 faixa - Homens
pnadc.loc[(pnadc["V5004A2"]>0) & (pnadc["V2009"]>=65) & (pnadc["V2007"]== 1) & \
          ((pnadc["V5004A2"] - (pnadc["FILHO14"] * 46.54))<=907.77),"SALFAM3"] \
          =pnadc["FILHO14"] * 46.54

In [ ]:
#Filtrando e obtendo salário familia - 2 faixa - Mulheres
pnadc.loc[(pnadc["V5004A2"]>0) & (pnadc["V2009"]>=60) & (pnadc["V2007"]== 2) & \
          (((pnadc["V5004A2"] - (pnadc["FILHO14"] * 32.80))>=907.78) & \
          ((pnadc["V5004A2"] - (pnadc["FILHO14"] * 32.80))<=1364.43)),"SALFAM3"] \
          =pnadc["FILHO14"] * 32.80

In [ ]:
#Filtrando e obtendo salário familia - 1 faixa - Mulheres
pnadc.loc[(pnadc["V5004A2"]>0) & (pnadc["V2009"]>=60) & (pnadc["V2007"]== 2) & \
          ((pnadc["V5004A2"] - (pnadc["FILHO14"] * 46.54))<=907.77),"SALFAM3"] \
          =pnadc["FILHO14"] * 46.54

In [ ]:
#Ajustando salário familia apenas para responsáveis
pnadc.loc[(pnadc["V2005"]>=4) & (pnadc["V2005"]<=19),"SALFAM3"]=0

In [ ]:
#SALARIO FAMILIA (TRABALHO PRINCIPAL + SECUNDARIO + APOSENTADOS)

In [ ]:
#Colocando 0 em 'missings'
pnadc.fillna(0,inplace=True)

In [ ]:
#Conhecendo salário familia total
pnadc["SALFAM"]=pnadc["SALFAM1"]+pnadc["SALFAM2"]+pnadc["SALFAM3"]

In [ ]:
(pnadc["SALFAM"]*pnadc["V1032"]).sum()

250619474.5717523

In [ ]:
pnadc.to_csv("/content/drive/MyDrive/Microsimulação/PNADC_2019_mine.csv")

In [ ]:
#SEGURO DESEMPREGO

* OBS: A simulação é feita supondo que o benefício é recebido por pessoas desocupadas que têm rendas diversas entre o piso e o teto dos valores da tabela oficial do seguro desemprego.
* OBS: Para gerar um numero total de segurados próximo dos dados oficiais de 2019, complementa-se com uma seleção aleatória entre o restante das pessoas desocupadas que não passaram pelo primeiro filtro.
* OBS: O valor do benefício é determinado utilizando-se o valor médio oficial do benefício em 09/2019 (R$1.267,11) e do número de parcelas recebidas (4,78), último ano para o qual há dados disponíveis.

In [ ]:
#Criando variável de seguro desemprego de acordo com o valor médio e quantidade de parcelas
pnadc.loc[(pnadc["VD4002"]==2) & ((pnadc["RDIV"]>=0.8*998) & (pnadc["RDIV"]<=1735.29)), "SEGDEMP"] = (1267.11*4.78)/12

In [ ]:
#Organizando e obtendo amostra de 53% de desempregados
dados2=pnadc.groupby("CHAVE.I")["VD4002"].first()
dados2=pd.DataFrame(dados2)
dados2=dados2.loc[dados2["VD4002"]==2].sample(frac=0.53)
#Variavel temporaria
dados2["TEMP"]=1

In [ ]:
#Excluindo variavel do dataset original
pnadc.drop(columns=["VD4002"],inplace=True)

In [ ]:
#Criando novo dataset com a mesclagem da amostra e banco de dados original
dados3 = pnadc.join(dados2,on="CHAVE.I")

In [ ]:
#Corrigindo valores/missings para a proxima verificação
dados3.fillna(0,inplace=True)

In [ ]:
#Atribuindo valor médio do seguro desemprego para as pessoas selecionadas pela amostra
dados3.loc[(dados3["TEMP"]==1) & (dados3["SEGDEMP"]==0), "SEGDEMP"] = (1267.11*4.78)/12

In [ ]:
#Visualizando banco
dados3

              CHAVE.D          CHAVE.I  UF  ...    SEGDEMP  VD4002  TEMP
272096  3301892771107  330189277110701  33  ...    0.00000     0.0   0.0
233765  3103244951107  310324495110702  31  ...  504.73215     2.0   1.0
84222   2100798000707  210079800070702  21  ...    0.00000     0.0   0.0
255978  3300160480607  330016048060704  33  ...    0.00000     0.0   0.0
77068   2100578600507  210057860050703  21  ...    0.00000     0.0   0.0
...               ...              ...  ..  ...        ...     ...   ...
108490  2300520650306  230052065030603  23  ...  504.73215     2.0   1.0
139996  2500586811007  250058681100703  25  ...    0.00000     0.0   0.0
146126  2600241900607  260024190060701  26  ...    0.00000     0.0   0.0
25891   1300501190407  130050119040705  13  ...    0.00000     0.0   0.0
111662  2300720881407  230072088140701  23  ...    0.00000     0.0   0.0

[21677 rows x 72 columns]

In [ ]:
#Valor total do beneficio para cada individuo
dados3["BEN"]=dados3["SEGDEMP"]+dados3["SALFAM"]

In [ ]:
#Vizualizando banco
dados3.sample(frac=0.005)

              CHAVE.D          CHAVE.I  UF  ...  VD4002  TEMP        BEN
39595   1500379430107  150037943010701  15  ...     0.0   0.0    0.00000
223834  3102093631207  310209363120703  31  ...     0.0   0.0    0.00000
340572  4101602170607  410160217060702  41  ...     0.0   0.0    0.00000
266761  3301316190607  330131619060701  33  ...     0.0   0.0    0.00000
376786  4300792410407  430079241040701  43  ...     0.0   0.0   32.80000
...               ...              ...  ..  ...     ...   ...        ...
235508  3103612900206  310361290020602  31  ...     0.0   0.0    0.00000
162825  2700050580207  270005058020702  27  ...     0.0   0.0    0.00000
196942  2901298370807  290129837080703  29  ...     2.0   1.0  504.73215
269830  3301594380207  330159438020702  33  ...     0.0   0.0    0.00000
67555   2100231170906  210023117090602  21  ...     0.0   0.0    0.00000

[2168 rows x 73 columns]